{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-9" id="list">
        {% for article in object_list %}
        <div class="col-xs-12" id="article_{{ article.pk }}">
            <h2><span class="label"
                      style="background-color: {{ article.stream.color }}">{{ article.stream.acronym }}</span>
                {{ article.title }}</h2>
            <p>{{ article.brief|safe }}</p>
            <div class="text-center">
                <a href="{{ article.url }}" target="_blank">
                    <i class="fa fa-external-link-square"></i>
                    Read me
                </a>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Streams
            </div>
            <div class="panel-body">
                <ul>
                    {% for stream in streams %}
                    <li>{{ stream.name }} <span class="label" style="background-color: {{ stream.color }}">{{ stream.articles.count }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script id="element_template" type="template">
    <div class="col-xs-12" id="article_{- pk -}">
        <h2><span class="label" style="background-color: {- data.stream.color -}">{- data.stream.acronym -}</span>
            {- data.title -}</h2>
        <p>{- data.brief -}</p>
        <div class="text-center">
            <a href="{- data.url -}" target="_blank">
                <i class="fa fa-external-link-square"></i>
                Read me
            </a>
        </div>
        <hr>
    </div>
</script>
<script src="{% static 'js/streamer.js' %}"></script>
{% endblock %}